<%# PARAMS admin, url
%>
<%= bootstrap_form_for(admin, url: url, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>

  <%= f.email_field :email, autofocus: true %>

  <%= f.form_group do %>
    <div class="hline"></div>
  <% end %>

  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <%= f.form_group do %>
    <%= f.submit "#{admin.new_record? ? 'Create' : 'Update'}", :class => 'btn btn-primary' %>
  <% end %>
<% end %>