<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <p style="background-color:green;"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p style="background-color:red;"><%= flash[:alert] %></p>
<% end %>

<%= yield %>

</body>
</html>
