<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <p style="background-color:green;"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p style="background-color:red;"><%= flash[:alert] %></p>
<% end %>

<%= link_to 'home', root_path %> || 
<%= link_to 'private', private_path %> || 
<%= link_to 'admin', admin_path %> || 
<% if admin_signed_in? %>
  <%= link_to 'admin - sign out', destroy_admin_session_path, :method => :delete, :confirm => 'Are you sure to sign out?' %>
<% else %>
  <%= link_to 'admin - sign in', new_admin_session_path %>
<% end %>

<hr/>

<%= yield %>

</body>
</html>
