<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <%= render admin_signed_in? ? 'admin/shared/header_signed_in' : 'admin/shared/header' %>

  <% if flash[:notice] %>
    <div class="container fixed-top">
      <div class="row">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oh snap!</strong> <%= flash[:notice] %>
        </div>
      </div>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="container fixed-top">
      <div class="row">
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oh snap!</strong> <%= flash[:alert] %>
        </div>
      </div>
    </div>
  <% end %>


  <div id="title-header" class="blue-bg">
    <div class="container">
      <div class="row">
        <h1><%= content_for?(:title_header) ? yield(:title_header) : '-' %></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
