<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Site</a>
    </div>

    <!-- left -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Dashboard', admin_path %>
        </li>
        <li>
          <%= link_to 'Accounts', admin_accounts_path %>
        </li>
      </ul>

      <!-- right -->
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_admin.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Profile', admin_profile_path %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'Public', root_path %>
            </li>
            <li>
              <%= link_to 'Sign out', destroy_admin_session_path, :method => :delete %>
            </li>
          </ul>
        </li>

        <li>
          
        </li>
      </ul>
    </div>

  </div>
</nav>


